/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

/* the standard rtd themes is first included and then this one here */

.wy-nav-content {
max-width: 1200px !important;
}

pre, code, .rst-content tt, .rst-content code, kbd, samp {
    font-size: 16px !important;
}

code, .rst-content tt, .rst-content code {
    font-size: 16px !important;
}

.sidebar.deprecated {
    background-color: #fee;
}

.sidebar.deprecated > p.sidebar-title:after{
    content: " (deprecated)";
}


.section, h1, h2, h3 {
    clear: both;
}

p {
    font-size: 12pt;
}

.wy-side-nav-search {
    display: block;
    width: 300px;
    padding: .809em;
    margin-bottom: .809em;
    z-index: 200;
    background-color: #2269aa;
    text-align: center;
    padding: .809em;
    display: block;
    color: #fcfcfc;
    margin-bottom: .809em
}
.wy-nav-side {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 2em;
    width: 300px;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100%;
    background: #2269aa;
    z-index: 200
}
.wy-nav-content-wrap {
    margin-left: 300px;
    background: #FAFAFA;
    min-height: 100%
}
/* background: #2980B9; RTD Blau */
/* background: #CEE3F6; */
