*.pyc
*.jar
*.tgz
*.zip
/visu
/doc/build
/doc/sphinx_bootstrap_theme

/plugins/backend/static/blockly
/plugins/backend/static/codemirror

# Unittest and coverage reports
.cache
.coverage
.tox
nosetests.xml
*.egg-info
