{% extends "base_plugin.html" %}

{% set logo_frame = false %}
{% set use_bodytabs = true %}

{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1"><strong>Titel 1</strong></td>
			<td class="py-1">Wert 1</td>
		</tr>
		<tr>
			<td class="py-1"><strong>Titel 2</strong></td>
			<td class="py-1">Wert 2</td>
		</tr>
	</tbody>
</table>
{% endblock headtable %}

{% block buttons %}
{% endblock buttons %}

{% set tabcount = 4 %}

{% block bodytab1 %}
<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
	<div class="col-sm-12">
        ...
    </div>
</div>
{% endblock bodytab1 %}

{% block bodytab2 %}
{% endblock bodytab2 %}

{% block bodytab3 %}
{% endblock bodytab3 %}

{% block bodytab4 %}
{% endblock bodytab4 %}
