<!DOCTYPE html>

<head>
	<link rel="stylesheet" href="static/css/font-awesome.min.css" type="text/css"/>
	<link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css"/>
	<link rel="icon" href="static/img/favicon.ico" type="image/png">
</head>

<body>
	<div class="container">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="row">
			<div align="center" class="col-md-8 col-md-offset-2 panel panel-default">
				<h1 class="margin-base-vertical">
				<img src="static/img/logo_big.png" width="150" height="75">
				&nbsp; SmartHomeNG<h2>&nbsp; &nbsp; Plugin: {{ plugin_shortname }} v{{ plugin_version }}</h2>
				<br>
				<h4>{{ plugin_info }}</h4>
				</h1>
			
				<br>
				<br>
				<br>
				<br>
			</div><!-- //main content -->
		</div><!-- //row -->
	</div> <!-- //container -->
</body>
