<!DOCTYPE html>
{% extends "base.html" %}


{% block content %}

<div class="container-fluid m-3">
	<div style="margin-right: 2px;" class="row">

		<div class="{% if logo_frame %}card {% endif %} col-sm-2">
		    {% if isfile("static/img/plugin_logo.png") %}
				<img src="static/img/plugin_logo.png" width="150" height="150" style="margin-left: auto; margin-right: auto; display: block;">
		    {% elif isfile("static/img/plugin_logo.jpg") %}
				<img src="static/img/plugin_logo.jpg" width="150" height="150" style="margin-left: auto; margin-right: auto; display: block;">
			{% else %}
				<img src="/gstatic/img/plugin_defaultlogo.png" width="150" height="150" style="margin-left: auto; margin-right: auto; display: block;">
			{% endif %}
		</div>
		<div class="col-sm-3">
			<h3><img src="/gstatic/img/logo_long.png" height="40" valign="top" align="left" style="align: left; display: block;"></h3>
			<div class="m-3">
			<br>
			</div>
			<h5>Plugin : <strong>{{ p.get_shortname() }}</strong> v{{ p.get_version() }}</h5>
			{% if p.get_instance_name() != '' %}
				<h5>Instanz: {{ p.get_instance_name() }}</h5>
			{% else %}
				<br>
			{% endif %}
			<h6>Plugin &nbsp; &nbsp; : {% if p.alive %}Aktiv{% else %}Gestoppt{% endif %}</h6>
		</div>

		<div class="col-sm-7">
	
			{% block headtable %}
			{% endblock %}

			<table width="100%">
				<tr>
					<td colspan="3">
						{% block buttons %}
						{% endblock %}
					</td>
					<td colspan="2" align="right">
						<button id="close" class="btn btn-shng btn-sm" title="{{ 'Schließen' }}" onclick="window.close();" ><i class="fas fa-times"></i>&nbsp;&nbsp;&nbsp;{{ 'Schließen' }}&nbsp;</button>
					</td>
				</tr>
			</table>

		</div>
	</div>
</div>


{% if use_bodytabs %}
	{% block bodytabs %}
	{% if item_count is not defined %}
		{% set item_count = 0 %}
	{% endif %}
	{% if device_count is not defined %}
		{% set device_count = 0 %}
	{% endif %}

	{% set start_tab = 1 %}
	{% if item_count==0 %}
		{% set start_tab = 2 %}
	{% endif %}
	
<div class="container-fluid ">
	<ul class="nav nav-tabs">
		<li id="tab_userlogics" class="nav-item"><a class="text-dark nav-link {% if start_tab==1 %}active{% endif %}" data-toggle="tab" href="#pluginitems">{{ p.get_shortname() }} Items ({{ item_count }})</a></li>
		<li id="tab_systemlogics" class="nav-item"><a class="text-dark nav-link {% if start_tab==2 %}active{% endif %}" data-toggle="tab" href="#plugindevices">{{ p.get_shortname() }} Geräte ({{ device_count }})</a></li>
	</ul>
	<br>
</div>

<div style="margin-left: 10px; margin-right: 10px;" class="tab-content">

	<div id="pluginitems" class="tab-pane {% if start_tab==1 %}active{% endif %}" role="tabpanel">
		{% block itemstab %}
		{% endblock %}
	</div>

	<div id="plugindevices" class="tab-pane {% if start_tab==2 %}active{% endif %}" role="tabpanel">
		{% block devicestab %}
		{% endblock %}
	</div>

</div>

{% endblock %}	

{% else %}
<div style="margin-left: 10px; margin-right: 10px;" class="tab-content">
	<div class="col-sm-12">
	{% block bodynotabs %}
	{% endblock %}	
	</div>
</div>
{% endif %}

{% endblock content %}
